<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <% if @message.thread_starter? %>
    <div class="field">
      <%= f.label :recipient %><br />
      <%= f.select :recipient_id, message_recipient_options(@message), :include_blank => '-- выберите --' %>
    </div>
    <div class="field">
      <%= f.label :subject %><br />
      <%= f.text_field :subject %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :recipient %> <%= @message.recipient.name %>
      <%= f.hidden_field :recipient_id %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <%= f.hidden_field :parent_id if @message.parent %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
