<h1>Listing messages</h1>

<table>
  <tr>
    <th>Unread</th>
    <th>Sender and Recipient</th>
    <th>Subject</th>
    <th>Body</th>
    <th>When</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message_unread_mark message %></td>
    <td><%= message_from_to message %></td>
    <td><%= message.thread_subject %></td>
    <td><%= message.body %></td>
    <td><%= message_timestamp message %></td>
    <td><%= link_to 'Show', message %></td>
    <% if allowed_to_change?(message) %>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New message', new_message_path %>
