<h1>Список сообщений</h1>

<%= link_to 'Новое сообщение', new_message_path %>

<table>

<% @messages.each do |message| %>
  <tr>
    <td><%= thread_unread_counter message %></td>
    <td><%= message_from_to message %></td>
    <td><%= thread_excerpt message %></td>
    <td><%= message_timestamp message %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @messages %>
