<h1>Listing messages</h1>

<table>

<% @messages.each do |message| %>
  <tr>
    <td><%= message_unread_mark message %></td>
    <td><%= message_from_to message %></td>
    <td><%= thread_excerpt message %></td>
    <td><%= message_timestamp message %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New message', new_message_path %>
