<!-- <h1><%= @thread.subject %></h1> -->

<%= link_to 'Back', messages_path %>
<%= link_to 'Reply', reply_message_path(@thread) %>

<% for message in @messages %>

  <hr>
  <p>
    <%= message_unread_mark message %>
    <%= message_from_to message %>
    <%= message_timestamp message %>
  </p>

  <h3><%= message.subject %></h3>

  <p>
    <%= raw(auto_link(textilize(simple_format(message.body)))) %>
  </p>

  <% if allowed_to_change?(message) %>
    <%= link_to 'Edit', edit_message_path(message) %> |
    <%= link_to 'Destroy', message_path(message), :method => :delete, :confirm => "Are you sure?" %>
  <% end %>

<% end %>
<%= will_paginate @messages %>
