<h1><%= @message.thread_subject %></h1>

<% for message in @message.full_thread %>

  <p>
    <%= message_from_to message %>,
    <%= message_unread_mark message %>
    <%= message_timestamp message %>
  </p>

  <p>
    <b>Subject:</b>
    <%= message.subject %>
  </p>

  <p>
    <b>Body:</b>
    <%= message.body %>
  </p>

  <hr>

<% end %>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
